
*{
    border: 1px solid red;
    }

header {

    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 70vh;
    background-color:blueviolet;

}

.header_text {

    background-color:blanchedalmond;
    height: 50vh;
    width: 45%;

}

.header_text {

    background-color:blanchedalmond;
    height: 50vh;
    width: 45%;

}


h1 {
    color: #4d1979;
    background-color:blanchedalmond
}

h2 {
    color: #4d1979;
    background-color:blanchedalmond
}